


*{
	margin:0;
	padding:0;
}

body{
	font-size:13px;
	color:#eee;
	font-family:Arial, Helvetica, sans-serif;
	background-color:black;
	/*background:url('img/bg.jpg') repeat-x #718693; */ 
}

.bg1 {background-color:black;}
#container{ width:900px; height:500px; background-color:black;}


#principal{
	
	background-color:#4C5A65; 
   
	padding:50px 50px 30px;
	margin:20px auto;
	position:relative;

	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	width:700px;
}
.pic{ padding:3px; display:inline-block; margin: 5px;}
.selected{	background-color:yellow;}
.not-selected {background-color:black;}